.contact-container {
    margin: 0 auto;
    flex-direction: column;
    display:flex;
    justify-content: center;
    width: 50%;
}

.loading-container {
    padding: 1rem;


}
.linear-progress {
    width: 50%;
    display: block;
    margin: 5% auto;
}

.loading-text {
    text-align: center;
}

.contact-list {
    margin: 0 auto;
    
}
.contact-list li {
    list-style-type: none !important;
}